@model IEnumerable<Profesional>

@{
    ViewData["Title"] = "Create";
}



<form id="buscador" action="/Profesionales/Buscador" method="get">

    <div class="formulario">

        <div class="form-group mb-2">
            <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Nombre">
        </div>

        <div class="form-group mb-2">
            <select class="custom-select mr-sm-2" name="servicio" id="servicio">
                <option disable selected>Servicio</option>
                @{
                    var i = 0;
                    @foreach (Servicio item in Enum.GetValues(typeof(Servicio)))
                    {
                        i++;
                        <option value="@i">@item</option>
                    }
                }
            </select>
        </div>

        <div class="form-group mb-2">
            <select class="custom-select mr-sm-2" name="barrio" id="barrio">
                <option disable selected>Barrio</option>
                @{
                    var j = 0;
                    @foreach (Barrio item in Enum.GetValues(typeof(Barrio)))
                    {
                        j++;
                        <option value="@j">@item</option>
                    }
                }
            </select>
        </div>


        <div class="form-group mb-2">
            <select class="custom-select mr-sm-2" name="puntuacion" id="puntuacion">
                <option disable selected>Puntuación</option>
                @{
                    var l = 0;
                    @foreach (Puntuacion item in Enum.GetValues(typeof(Puntuacion)))
                    {
                        l++;
                        <option value="@l">@item</option>
                    }
                }
            </select>
        </div>

        <button type="submit" class="form-group btn btn-primary mb-2">Buscar</button>

    </div>    

</form>

<div class="cuadroProfesionales">

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Profesional</th>
                <th scope="col">Servicio</th>
                <th scope="col">Barrio</th>
                <th scope="col">Puntuación</th>
                <th scope="col">Perfil</th>
            </tr>
        </thead>
        <tbody>
            @{
                var imgUrl = "https://picsum.photos/200";

                @foreach (var item in Model)
                {
                    imgUrl = imgUrl + "?";
                    <tr>
                        <td><image src="@imgUrl" alt="foto_perfil" size=""></image></td>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Servicio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Barrio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Puntuacion)</td>
                        <td><a href="/Profesionales/Details/@item.Id">Ir a perfil</a></td>
                    </tr>
                }

            }



        </tbody>
    </table>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>

    .formulario {
        display: flex;
        justify-content: center;
         
    }

    .formulario div {
        padding: 0 10px;    
    }

    img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }
</style>