@model ORTPro.Models.Profesional

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Html.DisplayNameFor(model => model.Nombre)</h1>


    <h4>@Html.DisplayNameFor(model => model.Servicio)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Puntuacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puntuacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barrio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style scoped>
    img {
        border-radius: 50%;
    }

    #caja {
        display: flex;
        flex-direction: column;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        margin-left: 500px;
        margin-right: 500px;
    }

    #card {
        margin-top: 20px;
        margin-bottom: 15px;
        border-bottom-color: #ccd6dd;
        border-bottom-width: thin;
        border-bottom-style: solid;
    }

    #info {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .map {
        margin-top: 3%;
    }
</style>
