@{
    ViewData["Title"] = "Home Page";
}
@model ORTPro.Models.Servicio

<div id="app">
    <div class="hello">
        <header class="masthead">
            <div class="container-fluid position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-1">Bienvenido a ORTPro!</h1>
                            <h4 class="mb-5">Conectamos necesidades con soluciones</h4>
                            <p>
                                Encontrá un profesional de manera rápida, confiable y segura
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <h2>¿Qué estás buscando?</h2>
        <p>Probá nuestro buscador de profesionales</p>
        <form id="buscador" action="/Profesionales/Buscador" method="get">

    <div class="formulario">

        <div class="form-group mb-2">
            <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Nombre">
        </div>

        <div class="form-group mb-2">
            <select class="custom-select mr-sm-2" name="servicio" id="servicio">
                <option disable selected>Servicio</option>
                @{
                    var i = 0;
                    @foreach (Servicio item in Enum.GetValues(typeof(Servicio)))
                    {
                        i++;
                        <option value="@i">@item</option>
                    }
                }
            </select>
        </div>

        <div class="form-group mb-2">
            <select class="custom-select mr-sm-2" name="barrio" id="barrio">
                <option disable selected>Barrio</option>
                @{
                    var j = 0;
                    @foreach (Barrio item in Enum.GetValues(typeof(Barrio)))
                    {
                        j++;
                        <option value="@j">@item</option>
                    }
                }
            </select>
        </div>


        <div class="form-group mb-2">
            <select class="custom-select mr-sm-2" name="puntuacion" id="puntuacion">
                <option disable selected>Puntuación</option>
                @{
                    var l = 0;
                    @foreach (Puntuacion item in Enum.GetValues(typeof(Puntuacion)))
                    {
                        l++;
                        <option value="@l">@item</option>
                    }
                }
            </select>
        </div>

        <button type="submit" class="form-group btn btn-primary mb-2">Buscar</button>

    </div>

</form>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
            },
            methods: {
            }
        })
    </script>
}


<style>
    header.masthead {
        position: relative;
        background-color: #343a40;
        background: url("https://policyoptions.irpp.org/wp-content/uploads/sites/2/2019/03/WordPress-Image-1.jpg") no-repeat center center;
        background-size: cover;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

        header.masthead:before {
            content: "";
            position: absolute;
            background-color: #1c375e;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.5;
        }

   
    .formulario {
        display: flex;
        justify-content: center;
    }

    .formulario div {
        padding: 0 10px;
    }

    img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }

</style>
